.home{
    margin: 0  0 5% 0;
}

.home img{
    float: left;
}

.seta-home img{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7px;
}

.home h4{
    font-family: Fabrica !important;
    font-size: 14px !important;
    line-height: 14px !important;
    text-align: left !important;
    color: #828282 !important;
    display: inline-block;
}

.portfolio .container-fluid{
    padding-left: 8% !important;
    padding-right: 8% !important;
}

.portfolio .titulo, .portfolio h6{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.portfolio{
    padding-bottom: 0 !important;
    margin-top: 66px !important;
    padding-top: 3% !important;
}

.portfolio h6{
    margin-bottom: 5%;
    margin-top: 3%;
}

.portfolio .col-lg-4{
    padding: 0 !important;
    margin-bottom: 2.5% !important;
}

.port{
    text-align: center !important;
    padding: 0 !important;
}

.passador{
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: center;
}

.passador li{
    display: inline-block !important;
    font-family: Oswald-medium;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 4.5px;
    color: #0D0D0D;
}

@media (max-width: 576px){
    .home{
        display: none;
    }
}