.portfolio .container-fluid{
    padding-left: 8% !important;
    padding-right: 8% !important;
}

.portfolio .titulo, .portfolio h6{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.portfolio{
    padding-bottom: 0 !important;
}

.portfolio .col-lg-4{
    padding: 0 !important;
    margin-bottom: 2.5% !important;
}

.port{
    text-align: center !important;
    padding: 0 !important;
}

.modal-body{
    background-color: #373737 !important;
    padding: 0 !important;
}

.modal-img img{
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
}

.overlay .btn{
    margin-top: 35%;
    background: #590004;
    font-family: Oswald-medium;
    font-size: 40px;
    line-height: 59px;
    color: #FFFEFE;
    z-index: 1000;
}

.slick-prev {
    left: 10px !important;
    z-index: 1000;
}

.slick-next {
    right: 15px !important;
}

.slick-prev:before {
    content: url(imagens/direita.png) !important;
    width: 10% !important;
    height: auto !important;

  }

.slick-next:before {
    content: url(imagens/esquerda.png) !important;
    width: 10% !important;
    height: auto !important;
  }

.overlay .btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
    background-color: #590004 !important;
}

.passador{
    margin-top: 4%;
    text-align: center;
}

.passador li{
    display: inline-block !important;
    font-family: Oswald-medium;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 4.5px;
    color: #0D0D0D;
}